<template>
  <div class="bottom clearfix">
    <div class="title">
      <a href="" @click="$emit('home')">Fady ebied</a>
    </div>
    <div class="header-action-button-wrapper">
      <a href="" class="header-action-button action-button"
        ><i class="md md-add"></i
      ></a>
    </div>
    <!-- end .header-action-button-wrapper -->
    <a href="" class="responsive-menu-open">Menu <i class="fa fa-bars"></i></a>
    <nav class="main-nav" :itemid="sectionN">
      <ul class="list-unstyled">
        <li :class="{ active: isHomeActive }" @click="$emit('home')">
          <a>{{jsonCv.mainNavHome}}</a>
        </li>
        <li :class="{ active: isAboutActive }" @click="$emit('about')">
          <a>{{jsonCv.mainNavAbout}}</a>
        </li>
        <li :class="{ active: isSkillActive }" @click="$emit('skill')">
          <a>{{jsonCv.mainNavSkill}}</a>
        </li>
        <li
          :class="{ active: isExperienceActive }"
          @click="$emit('experience')"
        >
          <a>{{jsonCv.mainNavExperience}}</a>
        </li>
        <li :class="{ active: isEducationActive }" @click="$emit('education')">
          <a>{{jsonCv.mainNavEducation}}</a>
        </li>
        <li :class="{ active: isContactActive }" @click="$emit('contact')">
          <a>{{jsonCv.mainNavContact}}</a>
        </li>
      </ul>
    </nav>
    <!-- end .main-nav -->
  </div>
  <!-- end .bottom -->
  <div class="responsive-menu">
		<a href="" class="responsive-menu-close">Close <i class="ion-android-close"></i></a>
		<nav class="responsive-nav">
      <ul class="list-unstyled">
        <li :class="{ active: isHomeActive }" @click="$emit('home')">
          <a>{{jsonCv.mainNavHome}}</a>
        </li>
        <li :class="{ active: isAboutActive }" @click="$emit('about')">
          <a>{{jsonCv.mainNavAbout}}</a>
        </li>
        <li :class="{ active: isSkillActive }" @click="$emit('skill')">
          <a>{{jsonCv.mainNavSkill}}</a>
        </li>
        <li
          :class="{ active: isExperienceActive }"
          @click="$emit('experience')"
        >
          <a>{{jsonCv.mainNavExperience}}</a>
        </li>
        <li :class="{ active: isEducationActive }" @click="$emit('education')">
          <a>{{jsonCv.mainNavEducation}}</a>
        </li>
        <li :class="{ active: isContactActive }" @click="$emit('contact')">
          <a>{{jsonCv.mainNavContact}}</a>
        </li>
      </ul>
    </nav> <!-- end .responsive-nav -->
	</div> <!-- end .responsive-menu -->

</template>

<script>

export default {
  emits: ["home", "about", "skill", "experience", "education", "contact"],
  props: ["jsonCv","sectionN","isHomeActive","isAboutActive","isSkillActive","isExperienceActive","isEducationActive","isContactActive"],
};
</script>

<style>
</style>