<template>
  <div class="top clearfix">
    <a class="available" @click="$emit('contact')">
      <i class="ion-ios-email-outline"></i>
      <span>{{jsonCv.lblAvailabilityMsg}}</span>
    </a>
    <div class="right-icons">
      <a href="" class="open-search header-open-search">
        <i class="md md-search"></i>
      </a>
      <a :href="jsonCv.lnkDownloadCv" class="download" download
        ><i class="md md-file-download"></i
      ></a>
      <a href="" class="share"><i class="md md-more-vert"></i></a>
    </div>
    <!-- end .right-icons -->
    <!-- Popup -->
    <div class="popup">
      <nav class="social-nav">
        <ul class="list-unstyled">
          <li>
            <a :href="jsonCv.lnkFaceBook">Facebook</a>
          </li>
          <li><a :href="jsonCv.lnkTwitter">Twitter</a></li>
          <li>
            <a :href="jsonCv.lnkLinkedIn"
              >Linkedin</a
            >
          </li>
          <li>
            <a :href="jsonCv.lnkGoogle"
              >Google+</a
            >
          </li>
        </ul>
        <!-- end .list-unstyled -->
      </nav>
      <!-- end .social-nav -->
    </div>
    <!-- end .popup -->
  </div>
  <!-- end .top -->
</template>

<script>
export default {
    emits: ["contact"], 
    props:["jsonCv"] 
};
</script>

<style>
</style>