<template>
  <section id="section2">
    <div class="container">
      <h2>About Me</h2>
      <div class="row">
        <div class="col-sm-3">
          <img :src="jsonCv.imgSrcMan02" alt="man" class="img-responsive section-img">
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-9">
          <h3 class="small-margin-bottom">{{ jsonCv.name }} {{ jsonCv.surname }}</h3>
          <h5>{{ jsonCv.txtJobRole }}</h5>
          <p>

          </p>
          <div class="signature"><img :src="jsonCv.imgSrcSignature" alt="signature" class="img-responsive"></div>
          <ul class="list-unstyled text-uppercase">
            <li><b>{{ jsonCv.lblBirthDay }}</b> {{ jsonCv.birthday }}</li>
            <li><b>{{ jsonCv.lblPhone }}</b> {{ jsonCv.phone }}</li>
            <li><b>{{ jsonCv.lblEMail }}</b> {{ jsonCv.email }}</li>
            <li><b>{{ jsonCv.lblAddress }}</b> {{ jsonCv.address }}</li>
            <li><b>{{ jsonCv.lblWebsite }}:</b> {{ jsonCv.websiteUrl }}</li>
          </ul> <!-- end .list-unstyled -->
          <div class="spacer"></div>
          <h3>{{ jsonCv.lblDoing }}</h3>
          <div class="row">
            <div class="col-sm-4" v-for="doingObj in jsonCv.lstDoingList" :key="doingObj.doing">
              <div class="service">
                <div class="icon"><i :class="doingObj.doingClass"></i></div>
                <h5>{{ doingObj.doing }}</h5>
              </div> <!-- end .service -->
            </div> <!-- end .col-sm-4 -->
          </div> <!-- end .row -->
        </div> <!-- end .col-sm-9 -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->
  </section> <!-- end #section1 -->

</template>

<script>
export default {
  props: ["jsonCv"],

}
</script>