<template>
  <!-- Contact -->
  <section id="section6">
    <div class="container">
      <h2>{{ jsonCv.h2TouchWithMe }}</h2>
      <div class="row">
        <div class="col-sm-5">
          <h5>{{ jsonCv.h5ItalyContactAddress }}</h5>
          <ul class="list-icons list-unstyled">
            <li>
              <i class="ion-ios-location-outline"></i>{{ jsonCv.lblLocationAdd
              }}<br />{{ jsonCv.lblCountryAdd }}
            </li>
            <li><i class="ion-iphone"></i>{{ jsonCv.lblPhoneAdd }}</li>
            <li>
              <i class="ion-ios-email-outline"></i>{{ jsonCv.lblEMail }}
              <a :href="jsonCv.emailto">{{ jsonCv.email }}</a>
            </li>
            <li>
              <i class="ion-ios-home-outline"></i>{{ jsonCv.lblWebsite }}
              <a :href="jsonCv.websiteUrl">{{ jsonCv.websiteDomain }}</a>
            </li>
          </ul>
          <div class="spacer"></div>
          <div class="social-icons">
            <a :href="jsonCv.lnkFaceBook" class="social-icon"
              ><i class="fa fa-facebook"></i
            ></a>
            <a :href="jsonCv.lnkTwitter" class="social-icon"
              ><i class="fa fa-twitter"></i
            ></a>
            <a :href="jsonCv.lnkGoogle" class="social-icon"
              ><i class="fa fa-google-plus"></i
            ></a>
            <a :href="jsonCv.lnkLinkedIn" class="social-icon"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
          <!-- end .social-icons -->
          <div class="spacer"></div>
          <div>
            <iframe
              width="100%"
              height="400"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              :src="jsonCv.srcGoogleMaps"
            ></iframe>
          </div>
        </div>
        <div class="col-sm-5">
          <h5>{{ jsonCv.h5EgyptContactAddress }}</h5>
          <ul class="list-icons list-unstyled">
            <li>
              <i class="ion-ios-location-outline"></i
              >{{ jsonCv.lblEgyptLocationAdd }}<br />{{
                jsonCv.lblEgyptCountryAdd
              }}
            </li>
            <li><i class="ion-iphone"></i>{{ jsonCv.lblEgyptPhoneAdd }}</li>
            <li>
              <i class="ion-ios-email-outline"></i>{{ jsonCv.lblEMail }}
              <a :href="jsonCv.emailto">{{ jsonCv.email }}</a>
            </li>
            <li>
              <i class="ion-ios-home-outline"></i>Website:
              <a :href="jsonCv.websiteUrl">{{ jsonCv.websiteDomain }}</a>
            </li>
          </ul>
          <div class="spacer"></div>
          <div class="social-icons">
            <a :href="jsonCv.lnkFaceBook" class="social-icon"
              ><i class="fa fa-facebook"></i
            ></a>
            <a :href="jsonCv.lnkTwitter" class="social-icon"
              ><i class="fa fa-twitter"></i
            ></a>
            <a :href="jsonCv.lnkGoogle" class="social-icon"
              ><i class="fa fa-google-plus"></i
            ></a>
            <a :href="jsonCv.lnkLinkedIn" class="social-icon"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
          <div class="spacer"></div>

          <div>  
            <iframe
              width="100%"
              height="400"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              :src="jsonCv.srcAssiutGoogleMaps"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- end .container -->
  </section>
  <!-- end #section1 -->
</template>

<script>
export default {
  props: ["jsonCv"],
};
</script>

<style>
</style>