<template>
  <!-- Education -->
  <section id="section5">
    <div class="container">
      <h2>{{ jsonCv.h2Education }}</h2>
      <div class="education clearfix">
        <div
          class="item"
          v-for="(educationItem, index) in jsonCv.lstEducationItems"
          :key="index"
        >
          <div class="marker"></div>
          <div class="content">
            <span>{{ educationItem.txtAcademyName }}</span>
            <h4>{{ educationItem.txtCourseName }}</h4>
          </div>
          <div class="year">{{ educationItem.txtFromToYear }}</div>
        </div>
        <!-- end item -->
        <div class="line"></div>
      </div>
      <!-- end .education -->

      <h2>{{ jsonCv.h2HobbiesAndInterest }}</h2>
      <div class="row">
        <template
          v-for="(hobbyInterest, index) in jsonCv.lstHobbyInterest"
          :key="index"
        >
          <div v-if="index == 0" class="col-sm-2 col-sm-offset-1 col-xs-6">
            <div class="icon-box">
              <div class="icon"><i :class="hobbyInterest.iconName"></i></div>
              <h6>{{ hobbyInterest.h6HobbyName }}</h6>
            </div>
            <!-- end .icon-box -->
          </div>
          <!-- end .col-sm-2 -->
          <div v-else class="col-sm-2 col-xs-6">
            <div class="icon-box">
              <div class="icon"><i :class="hobbyInterest.iconName"></i></div>
              <h6>{{ hobbyInterest.h6HobbyName }}</h6>
            </div>
            <!-- end .icon-box -->
          </div>
          <!-- end .col-sm-2 -->
        </template>
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </section>
  <!-- end #section1 -->
</template>

<script>
export default {
  props: ["jsonCv"],
};
</script>

<style>
</style>