<template>
  <section id="section4">
    <div class="container">
      <h2>{{ jsonCv.h2YearsExperience }}</h2>
      <div class="experience-timeline">
        <div
          class="experience-block clearfix"
          v-for="(workExperience, index) in jsonCv.lstWorkExperiences"
          :key="index"
        >
          <div class="meta">
            <span class="year">{{ workExperience.txtExperiencePeriod }}</span>
            <span class="company">{{ workExperience.txtCompanyName }}</span>
          </div>
          <!-- end .meta -->
          <div class="content">
            <h5>{{ workExperience.h5RoleJob }}</h5>
            <p>
              <template
                v-for="(
                  descriptionJob, index2
                ) in workExperience.lstDescriptionJob"
                :key="index2"
              >
                - {{ descriptionJob }} <br />
              </template>
            </p>
          </div>
          <!-- end .content -->
          <div class="icon">
            <i :class="workExperience.clsIconName"></i>
          </div>
          <!-- end .icon -->
          <div class="line"></div>
        </div>
        <!-- end .experience-block -->
      </div>
      <!-- end .experience-timeline -->
    </div>
    <!-- end .container -->
  </section>
  <!-- end #section1 -->
</template>

<script>
export default {
  props: ["jsonCv"],
};
</script>

<style>
</style>