<template>
  <!-- Home -->
  <section id="section1" class="no-padding-bottom active">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 vertical-center padding-fix">
          <h1>
            <template v-for="highTitle in jsonCv.lstHighTitle" :key="highTitle">
              {{ highTitle }}<sup>+</sup> <br v-if="highTitle.length > 8"/>
            </template>
          </h1>
          <p>
            I'm Computer Engineer with over 9 years of experience specializing in Software development with various clients leader in their sector.
            <br/>Because they <b>trusted</b> my <b>enthusiasm</b>, therefore I had to only do <b>hard work </b> to achieve <b>new business value</b> and recognized for adhering to, and respecting policies, procedures, and system to enhance growth. 
            <br/>Consequentially these have brought back to my career to <b>consolidate the concepts of professional ethics and digital culture</b>. Through this experience that let me be an <b>IT Player</b> driven. 
          <br/>I'm <b>Fady Ebied</b>, Seeking to leverage my knowledge and experience into a role as <b>Enterprise Architect</b>.
          </p>
          <p class="button-row">
            <a @click="$emit('about')" class="button solid-button white aboutMe"
              >About Me</a
            ><a
              :href="jsonCv.lnkDownloadCv"
              class="button solid-button purple"
              >Download CV</a
            >
          </p>
        </div>
        <!-- end .col-sm-7 -->
        <div class="col-sm-5 vertical-center">
          <img
            :src="jsonCv.imgSrcMan01"
            alt="man"
            class="img-responsive section-img"
          />
        </div>
        <!-- end .col-sm-5 -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </section>
  <!-- end #section1 -->
</template>

<script>
export default {
  emits:["about"],
  props: ["jsonCv"],
};
</script>

<style scoped>
</style>