<template>
  <!-- Skills -->
  <section id="section3">
    <div class="container">
      <h2>{{ jsonCv.h4MySillsValues }}</h2>
      <div class="row">
        <div class="col-sm-6">
          <h4>{{ jsonCv.h4TechnicalSkills }}</h4>

          <template
            v-for="technicalSkill in jsonCv.lstTechnicalSkill"
            :key="technicalSkill.lblTechnicalSkill"
          >
            <label class="progress-bar-label">{{
              technicalSkill.lblTechnicalSkill
            }}</label>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                :style="technicalSkill.style"
                :aria-valuenow="technicalSkill.value"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>{{ technicalSkill.value }}%</span>
              </div>
              <!-- end .progress-bar -->
            </div>
            <!-- end .progress -->
          </template>
        </div>
        <!-- end .col-sm-6 -->
        <div class="col-sm-6">
          <h4>{{ jsonCv.h4Knowledge }}</h4>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-icons purple bold-list">
                <li
                  v-for="leftGroupKnowledge in jsonCv.lstLeftGroupKnowledge"
                  :key="leftGroupKnowledge"
                >
                  <i class="md-arrow-forward"></i>{{ leftGroupKnowledge }}
                </li>
              </ul>
            </div>
            <!-- end .col-sm-6 -->
            <div class="col-sm-6">
              <ul class="list-icons purple bold-list">
                <li
                  v-for="rightGroupKnowledge in jsonCv.lstRightGroupKnowledge"
                  :key="rightGroupKnowledge"
                >
                  <i class="md-arrow-forward"></i>{{ rightGroupKnowledge }}
                </li>
              </ul>
            </div>
            <!-- end .col-sm-6 -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col-sm-6 -->
      </div>
      <!-- end .row -->
      <div class="spacer"></div>
      <h4>{{ jsonCv.h4LanguageSkills }}</h4>
      <div class="row">
        <div
          class="col-sm-4"
          v-for="languageSkill in jsonCv.lstLanguageSkills"
          :key="languageSkill"
        >
          <div class="circle-progress-wrapper clearfix">
            <div class="circle-progress">
              <RadialProgress
                :diameter="200"
                :totalSteps="100"
                :completedSteps="languageSkill.dataTo"
                :startColor="'#7c4dff'"
                :stopColor="'#7c4dff'"
                :innerStrokeColor="'#dcdcdc'"
                :strokeWidth="5"
                :innerStrokeWidth="5"
                :strokeLinecap="round"
                :animateSpeed="500"
                :fps="60"
                :timingFunc="linear"
                :isClockwise="true"
              >
                <label> {{ languageSkill.dataValue }}% </label>
              </RadialProgress>
            </div>

            <div class="circle-progress-label-wrapper">
              <label class="circle-progress-label">{{
                languageSkill.lblLanguageSkill
              }}</label>
            </div>
          </div>
        </div>
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </section>
  <!-- end #section1 -->
</template>

<script>
import { ref, onMounted } from "vue";

import "vue3-circle-progress/dist/circle-progress.css";
import CircleProgress from "vue3-circle-progress";
import RadialProgress from "vue3-radial-progress";

import LvProgressBar from "lightvue/progress-bar";

export default {
  components: { CircleProgress, RadialProgress, LvProgressBar },
  props: ["round", "linear", "jsonCv"],
  data() {
    return {};
  },
  methods: {
    handleScroll() {
      this.jsonCv.lstLanguageSkills.forEach((langSkill) => {
        this.fillCycleProgress(langSkill);
      });
      this.jsonCv.lstTechnicalSkill.forEach((techSkill) => {
        this.fillBarProgress(techSkill);
      });
    },
    async fillCycleProgress(langSkill) {
      langSkill.dataTo = 0;
      setInterval(() => {
        if (langSkill.dataTo < langSkill.dataValue) {
          langSkill.dataTo += 5;
        }
      }, 90);
    },
    async fillBarProgress(techSkill) {
      let steps = 0;
      setInterval(() => {
        if (steps < techSkill.value) {
          steps += 5;
          techSkill.style = "width: " + steps + "%;";
        }
      }, 90);
    },
  },
  mounted() {
    this.jsonCv.lstLanguageSkills.forEach((langSkill) => {
      this.fillCycleProgress(langSkill);
    });
    this.jsonCv.lstTechnicalSkill.forEach((techSkill) => {
      this.fillBarProgress(techSkill);
    });
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style>
.circle-progress label {
  font-size: 20px !important;
  display: inline-block !important;
  width: 78px !important;
  height: 78px !important;
  line-height: 78px !important;
  border-radius: 100% !important;
  background: #fff !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 30%) !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  top: 0;
  left: 0;
  text-align: center;
}
</style>