<template>
  <SilityAppStandardHome></SilityAppStandardHome>
</template>
<script>
import SilityAppStandardHome from "./standard/SilityAppStandardHome.vue";
export default {
  name: "SilityAppHome",
  components: {
    SilityAppStandardHome
  }
};

</script>

<style>
</style>
