<template>
    <SilityAppView></SilityAppView>
</template>

<script>
import SilityAppView from './views/SilityAppView.vue'
export default {
    name: 'App',
    components: {
        SilityAppView
    }
}

</script>

<style>
</style>
