<template>
  <Transition>
    <component
      :is="activeContainer"
      :jsonCv="jsonCv"
      @about="$emit('about')"
      :itemid="sectionN"
    >
    </component>
  </Transition>


</template>

<script setup>
import { ref, shallowRef, onMounted, onUpdated, watch } from "vue";
import Main from "./containers/Main.vue";
import About from "./containers/About.vue";
import Skill from "./containers/Skill.vue";
import Experience from "./containers/Experience.vue";
import Education from "./containers/Education.vue";
import Contact from "./containers/Contact.vue";

//use shallowRef to avoid component being deeply observed
const activeContainer = shallowRef(Main);
const activeN = ref(1);

const props = defineProps(["sectionN", "jsonCv"]);

const emit = defineEmits(["about"]);


defineExpose({
  activeContainer,
});

onMounted(() => {
  console.log("OnMounted...");
  activeContainer.value;
  update();
});
onUpdated(() => {
  console.log("SectionN: " + props.sectionN);
  console.log("active container: " + activeContainer.value);  
  update();
});



function update() {
    
  if (props.sectionN == 1) {
    activeContainer.value = Main;
    activeN.value = 1;
  } else if (props.sectionN == 2) {
    activeContainer.value = About;
    activeN.value = 2;
  } else if (props.sectionN == 3) {
    activeContainer.value = Skill;
    activeN.value = 3;
  } else if (props.sectionN == 4) {
    activeContainer.value = Experience;
    activeN.value = 4;
  } else if (props.sectionN == 5) {
    activeContainer.value = Education;
    activeN.value = 5;
  } else if (props.sectionN == 6) {
    activeContainer.value = Contact;
    activeN.value = 6;
  } else {
    activeContainer.value = Main;
    activeN.value = 1;
  }
 
}

</script>


<style>
  
  /*
.forward-enter-active,
.forward-leave-active {
  transition: all 0.75s ease-out;
}

.forward-enter-to {
  position: relative;
  right: 0;
}

.forward-enter-from {
  position: fixed;
  right: -100%;
}

.forward-leave-to {
  position: fixed;
  left: -100%;
}

.forward-leave-from {
  position: relative;
  left: 0;
}



.backward-enter-active,
.backward-leave-active {
  transition: all 0.75s ease-out;
}

.backward-enter-to {
  position: relative;
  left: 0;
}

.backward-enter-from {
  position: fixed;
  left: -100%;
}

.backward-leave-to {
  position: fixed;
  right: -100%;
}

.backward-leave-from {
  position: relative;
  right: 0;
}
*/

.v-enter-active,
.v-leave-active {
  position: static;
  transition: all 0.45s ease;
}
.v-enter-from , .v-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

</style>