<template>
	<!-- Footer -->
	<footer class="footer">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>{{jsonCv.h4Address}}</h4>
						<p>{{jsonCv.lblLocationAdd}}<br />{{jsonCv.lblCountryAdd}}</p>
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<h4>Connect</h4>
						<div class="social-icons">
							<a :href="jsonCv.lnkFaceBook" class="social-icon"><i
									class="fa fa-facebook"></i></a>
							<a :href="jsonCv.lnkTwitter" class="social-icon"><i
									class="fa fa-twitter"></i></a>
							<a :href="jsonCv.lnkGoogle" class="social-icon"><i
									class="fa fa-google-plus"></i></a>
							<a :href="jsonCv.lnkLinkedIn" class="social-icon"><i
									class="fa fa-linkedin"></i></a>
						</div> <!-- end .social-icons -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<h4>{{jsonCv.h4ContactFooter}}</h4>
						<p>{{jsonCv.lblPhoneAdd}}<br />{{jsonCv.lblEMail}} {{jsonCv.email}}</p>
					</div> <!-- end .col-sm-4 -->
				</div> <!-- end .row -->
			</div> <!-- end .container -->
		</div> <!-- end .footer -->
		<div class="bottom">Copyright &copy; Fady Ebied. All Rights Reserved.</div> <!-- end .bottom -->
	</footer> <!-- end .footer -->

</template>

<script>
export default {
	name: "Footer",
	components: {
	},
	props:["jsonCv"],
}
</script>

<style>
</style>