<template>
  <!-- Header -->
  <header class="header" :itemid="sectionN">
    <Top :jsonCv="jsonCv" @contact="$emit('contact')"></Top>
    <Bottom
      @home="$emit('home')"
      @about="$emit('about')"
      @skill="$emit('skill')"
      @experience="$emit('experience')"
      @education="$emit('education')"
      @contact="$emit('contact')"
      :sectionN="sectionN"
      :jsonCv="jsonCv"
      :isHomeActive="isHomeActive"
      :isAboutActive="isAboutActive"
      :isSkillActive="isSkillActive"
      :isExperienceActive="isExperienceActive"
      :isEducationActive="isEducationActive"
      :isContactActive="isContactActive"
    ></Bottom>
  </header>
  <!-- end .header -->

</template>

<script>
import Top from "./headers/Top.vue";
import Bottom from "./headers/Bottom.vue";
import { ref } from "vue";
import '../../../assets/sility/standard/js/ownScript.js'

export default {
  name: "Header",
  components: { Top, Bottom },
  emits: ["home", "about", "skill", "experience", "education", "contact"],
  props: ["sectionN","jsonCv"],
    setup() {
    const isHomeActive = ref(true);
    const isAboutActive = ref(false);
    const isSkillActive = ref(false);
    const isExperienceActive = ref(false);
    const isEducationActive = ref(false);
    const isContactActive = ref(false);
    return {
      isHomeActive,
      isAboutActive,
      isSkillActive,
      isExperienceActive,
      isEducationActive,
      isContactActive,
    };
  },

  data() {
    return {};
  },
  updated() {
    if (this.sectionN == 1) {
      this.isHomeActive = true;
      this.isAboutActive = false;
      this.isSkillActive = false;
      this.isExperienceActive = false;
      this.isEducationActive = false;
      this.isContactActive = false;
    } else if (this.sectionN == 2) {
      this.isHomeActive = false;
      this.isAboutActive = true;
      this.isSkillActive = false;
      this.isExperienceActive = false;
      this.isEducationActive = false;
      this.isContactActive = false;
    } else if (this.sectionN == 3) {
      this.isHomeActive = false;
      this.isHomeActive = false;
      this.isAboutActive = false;
      this.isSkillActive = true;
      this.isExperienceActive = false;
      this.isEducationActive = false;
      this.isContactActive = false;
    } else if (this.sectionN == 4) {
      this.isHomeActive = false;
      this.isAboutActive = false;
      this.isSkillActive = false;
      this.isExperienceActive = true;
      this.isEducationActive = false;
      this.isContactActive = false;
    } else if (this.sectionN == 5) {
      this.isHomeActive = false;
      this.isAboutActive = false;
      this.isSkillActive = false;
      this.isExperienceActive = false;
      this.isEducationActive = true;
      this.isContactActive = false;
    } else if (this.sectionN == 6) {
      this.isHomeActive = false;
      this.isAboutActive = false;
      this.isSkillActive = false;
      this.isExperienceActive = false;
      this.isEducationActive = false;
      this.isContactActive = true;
    } else {
      this.isHomeActive = true;
      this.isAboutActive = false;
      this.isSkillActive = false;
      this.isExperienceActive = false;
      this.isEducationActive = false;
      this.isContactActive = false;
    }
  },

};
</script>

<style></style>
