
<template>
      <!-- Search -->
    <div class="search-overlay"></div>
    <div class="search">
        <a href="" class="search-close"><i class="md md-close"></i></a>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h4>{{jsonCv.lblSearch}}</h4>
                <form class="search-form">
                    <input type="text" id="search" name="search" class="text-center" />
                </form>
                <!-- end .search-form -->
            </div>
            <!-- end .col-sm-6 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .row -->

</template>

<script>
export default {
    name: "Search",
    props:["jsonCv"]

}
</script>

<style>

</style>