<template>
  <!-- Section Navigation -->
  <div class="section-nav" :itemid="sectionN">
    <nav>
      <a @click="$emit('forward')" :class="classForward">
        <i class="md md-chevron-right"></i>
      </a>
      <a @click="$emit('backward')" :class="classBackward">
        <i class="md md-chevron-left"></i>
      </a>
    </nav>
  </div>
  <!-- end .section-nav -->
</template>

<script>
export default {
  emits: ["forward", "backward"],
  props: {
    sectionN: Number,
    minSection: Number,
    maxSectionN: Number,
  },
  data() {
    return {
      classForward: "forward",
      classBackward: "backward disabled",
    };
  },
  methods: {},
  updated() {
    if (this.sectionN > 5) 
		this.classForward = "forward disabled";
		else
		this.classForward = "forward"

    if (this.sectionN < 2) 
		this.classBackward = "backward disabled"
		else this.classBackward = "backward"
  },  
};
</script>

<style></style>
