<template>
  <div v-if="jsonCv != undefined">
    <Search :jsonCv="jsonCv"></Search>
    <SlideOut :jsonCv="jsonCv"></SlideOut>
    <Header
      @home="home"
      @about="about"
      @skill="skill"
      @experience="experience"
      @education="education"
      @contact="contact"
      :sectionN="sectionN"
      :jsonCv="jsonCv"
    ></Header>
    <SectionNav
      @forward="forward"
      @backward="backward"
      :sectionN="sectionN"
      :maxSection="maxSection"
      :minSection="minSection"
    ></SectionNav>
    <div class="sections">
      <div class="sections-wrapper clearfix">
        <Container :jsonCv="jsonCv" :sectionN="sectionN" @about="about"></Container>
      </div>
      <!-- end .sections-wrapper -->
    </div>
    <!-- end .sections -->
    <Footer :jsonCv="jsonCv"></Footer>
  </div>
  <div v-else>Loading...</div>
</template>

<script>
import Footer from "./Footer.vue";
import Header from "./Header.vue";
import Container from "./Container.vue";
import Search from "./Search.vue";
import SlideOut from "./SlideOut.vue";
import SectionNav from "./SectionNav.vue";

import getCv from "../../../composbles/getCv.js";
import "../../../assets/sility/standard/js/ownScript.js";

const maxSection = 6;
const minSection = 1;

export default {
  name: "SilityAppStandardHome",
  components: {
    Footer,
    Header,
    Container,
    Search,
    SlideOut,
    SectionNav,
  },
  setup() {
    const { jsonCv, error, loadCv } = getCv();
    loadCv();
    return { jsonCv, error };
  },
  data() {
    return {
      sectionN: 1,
      maxSection: 6,
      minSection: 1,
    };
  },
  methods: {
    forward() {
      if (this.sectionN < this.maxSection) this.sectionN++;
    },
    backward() {
      if (this.sectionN > this.minSection) this.sectionN--;
    },
    async slideCompute(numberTriggered){
      let id = setInterval(() => {
        if (this.sectionN != numberTriggered && this.sectionN > numberTriggered) {
          this.sectionN --;
        } else if (this.sectionN != numberTriggered && this.sectionN < numberTriggered ){
          this.sectionN ++
        } else {
          this.sectionN = numberTriggered;
          clearInterval(id);
        }
      }, 240);        

    },
    home() {    
      this.sectionN = 1;
    },
    about() {
      this.sectionN = 2;
    },
    skill() {
      this.sectionN = 3;
    },
    experience() {
      this.sectionN = 4;
    },
    education() {
      this.sectionN = 5;
    },
    contact() {
      this.sectionN = 6;
    },
  },
};
</script>

<style>
@import "../../../assets/sility/standard/css/bootstrap.min.css";
@import "../../../assets/sility/standard/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import "../../../assets/sility/standard/fonts/ionicons/css/ionicons.min.css";
@import "../../../assets/sility/standard/css/owl.carousel.css";
@import "../../../assets/sility/standard/css/owl.theme.default.css";
@import "../../../assets/sility/standard/css//style.css";
</style>
