<template>
      <!-- Slide Out -->
    <div class="slide-out-overlay"></div>
    <div class="slide-out">
        <header class="slide-out-header clearfix">
            <div class="clearfix">
                <a href="" class="slide-out-close pull-left"><i class="md md-close"></i></a>
                <a href="" class="open-search pull-right"><i class="md md-search"></i></a>
                <a href="" class="slide-out-share pull-right"><i class="md md-more-vert"></i></a>
            </div>
            <!-- end .clearfix -->
            <!-- Popup -->
            <div class="slide-out-popup">
                <nav class="social-nav">
                    <ul class="list-unstyled">
                        <li>
                            <a :href="jsonCv.lnkFaceBook">Facebook</a>
                        </li>
                        <li><a :href="jsonCv.lnkTwitter">Twitter</a></li>
                        <li>
                            <a :href="jsonCv.lnkLinkedIn">Linkedin</a>
                        </li>
                        <li>
                            <a :href="jsonCv.lnkGoogle">Google+</a>
                        </li>
                    </ul>
                    <!-- end .list-unstyled -->
                </nav>
                <!-- end .social-nav -->
            </div>
            <!-- end .slide-out-popup -->
            <div class="image">
                <img src="images/head01.png" alt="alt text" class="img-responsive" />
            </div>
            <div class="content">
                <h5>{{jsonCv.name}} {{jsonCv.surname}}</h5>
                <span>{{jsonCv.txtJobRole}}</span>
            </div>
            <!-- end .content -->
            <div class="text-right">
                <a :href="jsonCv.lnkDownloadCv" class="button link-button white icon-left" download><i
                        class="md md-file-download"></i>Download Resume</a>
            </div>
            <!-- end .text-right -->
        </header>
        <!-- end .slide-out-header -->
        <div class="slide-out-widgets">
            <div class="slide-out-widget">
                <h4>{{jsonCv.lblInviteMsg}}</h4>
                <ul class="list-icons list-unstyled">
                    <li>
                        <i class="ion-ios-location-outline"></i>{{jsonCv.lblLocationAdd}}<br />{{jsonCv.lblCountryAdd}}
                    </li>
                    <li><i class="ion-iphone"></i>{{jsonCv.lblPhoneAdd}}</li>
                    <li>
                        <i class="ion-ios-email-outline"></i>Email:
                        <a :href="jsonCv.emailto">{{jsonCv.email}}</a>
                    </li>
                    <li>
                        <i class="ion-ios-home-outline"></i>{{jsonCv.lblWebsite}}
                        <a :href="jsonCv.websiteUrl">{{jsonCv.websiteDomain}}</a>
                    </li>
                </ul>
            </div>
            <!-- end .slide-out-widget -->
            <!-- div class="slide-out-widget">
					<h4>Follow On Instagram</h4>
					<div class="instagram">
						<a href=""><img src="images/instagram01.jpg" alt="alt text" class="img-responsive"></a>
						<a href=""><img src="images/instagram02.jpg" alt="alt text" class="img-responsive"></a>
						<a href=""><img src="images/instagram03.jpg" alt="alt text" class="img-responsive"></a>
						<a href=""><img src="images/instagram04.jpg" alt="alt text" class="img-responsive"></a>
						<a href=""><img src="images/instagram05.jpg" alt="alt text" class="img-responsive"></a>
						<a href=""><img src="images/instagram06.jpg" alt="alt text" class="img-responsive"></a>
					</div>  end .instagram -->
            <!-- /div>  end .slide-out-widget -->
        </div>
        <!-- end .slide-out-widgets -->
    </div>
    <!-- end .slide-out -->

</template>

<script>
export default {
    name: "SlideOut",
    props:["jsonCv"]

}
</script>

<style>

</style>