<template>
    <SilityAppStandardHome></SilityAppStandardHome>
</template>

<script>
import SilityAppStandardHome from '../components/sility/standard/SilityAppStandardHome.vue'
export default {
    name: 'SilityAppView', 
    components: {
        SilityAppStandardHome
    }
}
</script>

<style>
</style>